.about{
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .textContainer {
        flex: 1;
        color: #262626;
        font-size: 30px;

        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            line-height: 28px;
            // padding-right: 30px;
            // padding-left: 92px;
            font-weight: 200;
            color: #646464;
        }   
    }
    .container{
        flex: 1;
    }
}