html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

.course {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
      width: 200px;
      height: 200px;
      background-color: #0648c2;
  }
}